.ctrls
  %a{:href => '/baby/uploads'} 
    (back to uploads)

%header
  %h1
    Upload a new image

%form{:action => '/baby/upload', :enctype => 'multipart/form-data', :method => 'POST'}
  %input{:type => 'file', :name => 'file'}
  %input{:type => 'submit'}

