%header
  .ctrls
    %a{:href => '/uploads'} (back to uploads)

  %h1
    Upload a new image

%form{:action => '/upload', :enctype => 'multipart/form-data', :method => 'POST'}
  %input{:type => 'file', :name => 'file'}
  %input{:type => 'submit'}
