.ctrls      
  %a{:href => '/upload'}
    %button Add a new image

%header
  %h1
    Current Images
%ul
  - @images.each do |r|
    %li.uploaded_image
      %img{:src => r.file.url(:thumb)}
      .del
        %a{:href => "/del/#{r.id}", :title => 'trash'}
          %img{:src => '/images/trash.png', :alt => 'trash', :title => 'trash'}
  