body, div {
  color: #86a7b7;
}
a {
  text-decoration:none;
  color: #437888;
}
a:hover {
  text-decoration:none;
  color: #86a7b7;
}

footer {
  width: 900px;
  margin: auto;
  text-align:center;
  font-family: museo-sans-1, museo-sans-2, sans-serif;
}
footer > div {
  font-weight: 700;
  width: auto;
}
footer .site_credits {
  font-weight: 100;
  float: right;
}
header {
  text-align: center; 
}

.block.pic img, .block {
  -webkit-border-radius:6px;
  -moz-border-radius:6px;
  border-radius:6px;
}
.block {
  background: white;
  border: 1px solid #437888;
  margin: 0px auto;
  height: 205px;
  width: 205px;
}

.line {
  margin: 16px 8px;
}

.line.first {
}
.co_name {
  margin-top: 8px;
  white-space: nowrap;
  text-align:center;
}
.links, .logo {
  background: transparent;
  border-color: transparent;
}
.links {
  font-size: 16px;
  font-weight: 100;
}

.logo img {
  margin-top: 61px;
}
.logo {
  font-size: 14px;
  font-weight: 700;
}


#fixed_bg {
  position: absolute;
  top: 52px; /* 450-345/2 */
  left: 127px; /* (900-645)/2 */
  height: 345px;
  width: 645px;
  z-index: 2;
 /* background-image: url(/i/romey_bg_logo.png);*/
}

#main {
  font-family: museo-sans-1, museo-sans-2, sans-serif;

  background: #f7fafb;

  position: relative;
  border: 1px solid #437888;
  width: 908px;
  margin: 75px auto 10px;

  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;

  -webkit-box-shadow: 0 0px 10px #789; 
  -moz-box-shadow: 0 0px 10px #789; 
  box-shadow: 0 0px 10px #789;

}


#main .unit {
  z-index: 100;
}

